<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
    <!--bootstrap缩略图-->
    <div class="container">
        <img src="/images/404-1.gif" alt="">
    </div>
</body>
</html>